.row
  .col-md-12
    h4 Filtering
  .col-md-10.col-sm-12
    .btn-toolbar
      .btn-group
        button.btn.btn-primary(ng-model="main.filtering.show" uib-btn-radio="") 
          i.fa.fa-bars
          |  
          span All

      .btn-group  
        button.btn.btn-success(ng-if='main.data.stat.passed' ng-model="main.filtering.show" uib-btn-radio="'passed'") 
          i.fa.fa-check
          |  
          span Passed ({{::main.data.stat.passed}})

        button.btn.btn-danger(ng-if='main.data.stat.failed' ng-model="main.filtering.show" uib-btn-radio="'failed'")
          i.fa.fa-close
          |   
          span Failed ({{::main.data.stat.failed}})


        button.btn.btn-info(ng-if='main.data.stat.pending' ng-model="main.filtering.show" uib-btn-radio="'pending'") 
          i.fa.fa-pencil
          |   
          span Pending ({{::main.data.stat.pending}})

        button.btn.btn-default(ng-if='main.data.stat.disabled'  ng-model="main.filtering.show" uib-btn-radio="'disabled'") 
          i.fa.fa-ban
          |   
          span Disabled ({{::main.data.stat.disabled}})

  .col-md-2.col-sm-12
    .pull-right 
      span Showing
      |   
      strong {{filtered.length}}
      |   
      span {{main.filtering.show}}
  .col-md-12
      div(ui-view='subfiltering')
