p
  .btn-toolbar
    .btn-group
      label.btn.btn-xs.btn-success(ng-model="main.filtering.logFilter"  ng-disabled='!main.filtering.showLogs' uib-btn-radio="")  
        span All
    .btn-group
      label.btn.btn-xs.btn-default(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'DEBUG'")  
        span Debug

      label.btn.btn-xs.btn-info(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'INFO'")  
        span Info

      label.btn.btn-xs.btn-warning(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'WARN'")  
        span Warning

      label.btn.btn-xs.btn-danger(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'SEVERE'")  
        span Severe

      label.btn.btn-xs.btn-danger(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'ERROR'")  
        span Error
h2 Showing {{main.filtering.logFilter}}    
