.container
  a(ui-sref='app.report.screenshots')
    uib-progress(max='main.data.tests.length')
      uib-bar(value='main.data.stat.passed' type='success')
      uib-bar(value='main.data.stat.failed' type='danger')
      uib-bar(value='main.data.stat.pending' type='info')
      uib-bar(value='main.data.stat.disabled' type='muted')

.text-center
  h3 {{main.data.ci.name}}  Build Information 
  .row
    .col-md-2
    .col-md-8
      pre {{main.data.ci.commit || 'N/A'}}
    .col-md-2
    .col-md-6
      h5 
        a(ng-href='{{main.data.ci.url}}')
          span Number: {{main.data.ci.build || 'N/A'}}
      h5 Branch: {{main.data.ci.branch || 'N/A'}}
    .col-md-6
      h5 TAG: {{main.data.ci.tag || 'N/A'}}
      h5 SHA: {{main.data.ci.sha || 'N/A'}}
  h3 Reports
  .btn-group
    a.btn.btn-info(ui-sref='app.report.screenshots') Screenshots centric
    a.btn.btn-danger(ui-sref='app.report.console') Console centric
