.row
  .col-xs-6.col-sm-10.text-left
    h1 Protractor screeenshot reporter
  .col-xs-6.col-sm-2
    img.img-responsive(src='assets/logo.svg' title='logo created by Vectors Market from the Noun Project')
p 
  span.pull-left Total tests 
    strong {{::main.data.tests.length}}
  span.pull-right 
    i.fa.fa-clock-o
    |   
    span Generated on 
    strong {{::main.data.generatedOn | date:'medium'}}
