p 
  span.pull-left 
    span Total tests 
    |  
    strong {{::main.data.tests.length}}
    |   
    span.text-success(ng-if='main.data.stat.passed')
      |  |  
      span Passed {{::main.data.stat.passed}}
      |  
      i.fa.fa-check

    span.text-danger(ng-if='main.data.stat.failed')
      |  |  
      span Failed {{::main.data.stat.failed}}
      |   
      i.fa.fa-close

    span.text-info(ng-if='main.data.stat.pending')
      |  |  
      span Pending {{::main.data.stat.pending}}
      |   
      i.fa.fa-pencil
    span(ng-if='main.data.stat.disabled')
      |  |  
      span Disabled {{::main.data.stat.disabled}}
      |   
      i.fa.fa-ban

  span.pull-right 
    i.fa.fa-clock-o
    |   
    span Generated on 
    strong {{::main.data.generatedOn | date:'medium'}}
